# R-Type CI Workflow

name: CI

on:
  pull_request:
    branches: [ "*" ]
    paths: [ "client/**", "server/**", ".github/workflows/ci.yml" ]
  workflow_dispatch:

env:
  MIRROR_REPO_URL: "git@github.com:EpitechPGE3-2025/G-CPP-500-NAN-5-2-rtype-8.git"

jobs:
  check-changes:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: read
    outputs:
      server: ${{ steps.filter.outputs.server }}
      client: ${{ steps.filter.outputs.client }}
      ci: ${{ steps.filter.outputs.ci }}
    steps:
      - uses: actions/checkout@v4
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            server:
              - 'server/**'
            client:
              - 'client/**'
            ci:
              - '.github/workflows/**'
              - 'scripts/**'

  check_repository:
    runs-on: ubuntu-latest
    outputs:
      same_repository: ${{ steps.check_repo.outputs.same_repository }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check if the repository is the same
        id: check_repo
        run: |
          if [ "${{ github.event.repository.ssh_url }}" = "${{ env.MIRROR_REPO_URL }}" ]; then
            echo "::warning::Repository is the same as the mirror repository."
            echo "same_repository=true" >> $GITHUB_OUTPUT
          else
            echo "::notice::Repository is different from the mirror repository."
            echo "same_repository=false" >> $GITHUB_OUTPUT
          fi

  linter:
    name: Linter
    runs-on: ubuntu-latest
    needs: check-changes
    if: github.event_name == 'workflow_dispatch' || needs.check-changes.outputs.ci == 'true' || needs.check-changes.outputs.server == 'true' || needs.check-changes.outputs.client == 'true'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install LLVM tools and dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y clang clang-tools clang-format clang-tidy libsfml-dev

      - name: Run linter
        run: |
          chmod +x ./scripts/lint-check.sh
          echo "Running linter..."
          ./scripts/lint-check.sh

  build-server:
    name: Build Server
    runs-on: ubuntu-latest
    needs: check-changes
    if: github.event_name == 'workflow_dispatch' || needs.check-changes.outputs.server == 'true'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Enable compiler cache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Configure and Build Server
        run: |
          cmake -S server -B build/server -DCMAKE_BUILD_TYPE=Release
          cmake --build build/server --target r-type_server -j$(nproc)

      - name: Run tests
        run: |
          cd build/server
          ctest --output-on-failure

  build-client:
    name: Build Client
    runs-on: ubuntu-latest
    needs: check-changes
    if: github.event_name == 'workflow_dispatch' || needs.check-changes.outputs.client == 'true'

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libsfml-dev

      - name: Enable compiler cache
        uses: hendrikmuhs/ccache-action@v1.2

      - name: Configure and Build Client
        run: |
          cmake -S client -B build/client -DCMAKE_BUILD_TYPE=Release
          cmake --build build/client --target r-type_client -j$(nproc)

      - name: Run tests
        run: |
          cd build/client
          ctest --output-on-failure

  push-to-mirror:
    name: Push to Mirror Repository
    runs-on: ubuntu-latest
    needs: [check_repository, linter, build-server, build-client]
    if: |
      always() &&
      needs.check_repository.outputs.same_repository == 'false' &&
      needs.linter.result == 'success' &&
      (needs.build-server.result == 'success' || needs.build-server.result == 'skipped') &&
      (needs.build-client.result == 'success' || needs.build-client.result == 'skipped')
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: pixta-dev/repository-mirroring-action@v1
        with:
          target_repo_url: ${{ env.MIRROR_REPO_URL }}
          ssh_private_key: ${{ secrets.R_TYPE_SSH_KEY }}
